In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Functions
### Function definitions

In [4]:
def student_info(name, age = 18):
    print(name, age)

### Function calling

In [5]:
student_info("John")
student_info("Alice",22)

John 18
Alice 22

### Math module

In [6]:
import math

a = math.sqrt(45)
print(a)

6.708203932499369

## Numpy

In [7]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.2)

In [8]:
x = np.array([1,4,3])

y = np.array([[3,5,2], [2,6,3]])

z = np.array([[[2,8,4],[3,6,2],[4,1,2]]])

print(z)

[[[2 8 4]
  [3 6 2]
  [4 1 2]]]

## Pandas

In [9]:
import pandas as pd #importing pandas library

In [10]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age" : [23,25,21],
    "Salary" : [45642,73453,64353]
}

print(data)

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [23, 25, 21], 'Salary': [45642, 73453, 64353]}

In [11]:
print(pd.DataFrame(data))

      Name  Age  Salary
0    Alice   23   45642
1      Bob   25   73453
2  Charlie   21   64353

In [12]:
df = pd.read_csv("D:/Basicsd/Basics of Python/Day-3/uber_ncr_ride_bookings.csv")

print(df)

              Date      Time    Booking ID   Booking Status   Customer ID  \
0       2024-03-23  12:29:38  "CNR5884300"  No Driver Found  "CID1982111"
1       2024-11-29  18:01:39  "CNR1326809"       Incomplete  "CID4604802"
2       2024-08-23  08:56:10  "CNR8494506"        Completed  "CID9202816"
3       2024-10-21  17:17:25  "CNR8906825"        Completed  "CID2610914"
4       2024-09-16  22:08:00  "CNR1950162"        Completed  "CID9933542"
...            ...       ...           ...              ...           ...
149995  2024-11-11  19:34:01  "CNR6500631"        Completed  "CID4337371"
149996  2024-11-24  15:55:09  "CNR2468611"        Completed  "CID2325623"
149997  2024-09-18  10:55:15  "CNR6358306"        Completed  "CID9925486"
149998  2024-10-05  07:53:34  "CNR3030099"        Completed  "CID9415487"
149999  2024-03-10  15:38:03  "CNR3447390"        Completed  "CID4108667"

         Vehicle Type         Pickup Location      Drop Location  Avg VTAT  \
0               eBike             Palam Vihar            Jhilmil       NaN
1            Go Sedan           Shastri Nagar  Gurgaon Sector 56       4.9
2                Auto                 Khandsa      Malviya Nagar      13.4
3       Premier Sedan     Central Secretariat           Inderlok      13.1
4                Bike        Ghitorni Village        Khan Market       5.3
...               ...                     ...                ...       ...
149995        Go Mini                 MG Road           Ghitorni      10.2
149996        Go Mini        Golf Course Road         Akshardham       5.1
149997       Go Sedan  Satguru Ram Singh Marg           Jor Bagh       2.7
149998           Auto               Ghaziabad         Saidulajab       6.9
149999  Premier Sedan         Ashok Park Main  Gurgaon Sector 29       3.5

        Avg CTAT  ...  Reason for cancelling by Customer  \
0            NaN  ...                                NaN
1           14.0  ...                                NaN
2           25.8  ...                                NaN
3           28.5  ...                                NaN
4           19.6  ...                                NaN
...          ...  ...                                ...
149995      44.4  ...                                NaN
149996      30.8  ...                                NaN
149997      23.4  ...                                NaN
149998      39.6  ...                                NaN
149999      33.7  ...                                NaN

       Cancelled Rides by Driver  Driver Cancellation Reason Incomplete Rides  \
0                            NaN                         NaN              NaN
1                            NaN                         NaN              1.0
2                            NaN                         NaN              NaN
3                            NaN                         NaN              NaN
4                            NaN                         NaN              NaN
...                          ...                         ...              ...
149995                       NaN                         NaN              NaN
149996                       NaN                         NaN              NaN
149997                       NaN                         NaN              NaN
149998                       NaN                         NaN              NaN
149999                       NaN                         NaN              NaN

        Incomplete Rides Reason Booking Value  Ride Distance  Driver Ratings  \
0                           NaN           NaN            NaN             NaN
1             Vehicle Breakdown         237.0           5.73             NaN
2                           NaN         627.0          13.58             4.9
3                           NaN         416.0          34.02             4.6
4                           NaN         737.0          48.21             4.1
...                         ...           ...            ...             ...
149995                      NaN         475.0          40.08             3.7
149996                      NaN        1093.0          21.31             4.8
149997                      NaN         852.0          15.93             3.9
149998                      NaN         333.0          45.54             4.1
149999                      NaN         806.0          21.19             4.6

        Customer Rating  Payment Method
0                   NaN             NaN
1                   NaN             UPI
2                   4.9      Debit Card
3                   5.0             UPI
4                   4.3             UPI
...                 ...             ...
149995              4.1     Uber Wallet
149996              5.0             UPI
149997              4.4            Cash
149998              3.7             UPI
149999              4.9     Credit Card

[150000 rows x 21 columns]

In [13]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI