## Types of Data Analysis :-
1) Statistical Analysis - Central tendency (Mean, Median, mode) - Dispersion (Variance)
2) Descriptive Analysis - No, of rows, columns, Null values
3) Diagnostics Analysis
4) Predictive Analysis
5) Prescriptive Analysis
6) Exploratory Data Analysis (EDA)
7) Inferential Analysis 

## Types of Analytics :-
2) Descriptive Analytics - No, of rows, columns, Null values
3) Diagnostics Analytics
4) Predictive Analytics
5) Prescriptive Analytics

In [1]:
import pandas as pd

df = pd.read_csv("Coffe_sales.csv")

## Descriptive Analysis

In [2]:
df.head(5)

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

In [3]:

print(df.shape)

(3547, 11)

In [4]:
print(df.dtypes)

hour_of_day      int64
cash_type       object
money          float64
coffee_name     object
Time_of_Day     object
Weekday         object
Month_name      object
Weekdaysort      int64
Monthsort        int64
Date            object
Time            object
dtype: object

In [5]:
print(df.info)

<bound method DataFrame.info of       hour_of_day cash_type  money    coffee_name Time_of_Day Weekday  \
0              10      card  38.70          Latte     Morning     Fri
1              12      card  38.70  Hot Chocolate   Afternoon     Fri
2              12      card  38.70  Hot Chocolate   Afternoon     Fri
3              13      card  28.90      Americano   Afternoon     Fri
4              13      card  38.70          Latte   Afternoon     Fri
...           ...       ...    ...            ...         ...     ...
3542           10      card  35.76     Cappuccino     Morning     Sun
3543           14      card  35.76          Cocoa   Afternoon     Sun
3544           14      card  35.76          Cocoa   Afternoon     Sun
3545           15      card  25.96      Americano   Afternoon     Sun
3546           18      card  35.76          Latte       Night     Sun

     Month_name  Weekdaysort  Monthsort        Date             Time
0           Mar            5          3  2024-03-01  10:15:50.520000
1           Mar            5          3  2024-03-01  12:19:22.539000
2           Mar            5          3  2024-03-01  12:20:18.089000
3           Mar            5          3  2024-03-01  13:46:33.006000
4           Mar            5          3  2024-03-01  13:48:14.626000
...         ...          ...        ...         ...              ...
3542        Mar            7          3  2025-03-23  10:34:54.894000
3543        Mar            7          3  2025-03-23  14:43:37.362000
3544        Mar            7          3  2025-03-23  14:44:16.864000
3545        Mar            7          3  2025-03-23  15:47:28.723000
3546        Mar            7          3  2025-03-23  18:11:38.635000

[3547 rows x 11 columns]>

In [6]:
# Drop non useful columns

df = df.drop(["Time"], axis= 1)

In [7]:
df.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01

## Statistical Analysis

df.info in Descriptive analysis and df.describe in Statistical analysis

25%, 50%, 75% are Inter quartile range - useful in sales data analysis

In [8]:
df.describe()

       hour_of_day        money  Weekdaysort    Monthsort
count  3547.000000  3547.000000  3547.000000  3547.000000
mean     14.185791    31.645216     3.845785     6.453905
std       4.234010     4.877754     1.971501     3.500754
min       6.000000    18.120000     1.000000     1.000000
25%      10.000000    27.920000     2.000000     3.000000
50%      14.000000    32.820000     4.000000     7.000000
75%      18.000000    35.760000     6.000000    10.000000
max      22.000000    38.700000     7.000000    12.000000

## Renaming the columns

In [9]:
df = df.rename(columns={"vintage": "Vintage_new"})
df.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01

In [10]:
df.shape

(3547, 10)

## Data Cleaning
### Check Data has duplicate values

In [11]:
duplicate_rows_df = df[df.duplicated()]

print("NUmber of duplicate rows: ", duplicate_rows_df.shape)

NUmber of duplicate rows:  (613, 10)

### Dropping thr duplicate rows

In [12]:
df = df.drop_duplicates()
df.shape

(2934, 10)

### Handle Null value - Either remove that data or replace it

In [13]:
print(df.isnull().sum())

hour_of_day    0
cash_type      0
money          0
coffee_name    0
Time_of_Day    0
Weekday        0
Month_name     0
Weekdaysort    0
Monthsort      0
Date           0
dtype: int64

### Drop NaN values record

In [14]:
df = df.dropna()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2934 entries, 0 to 3546
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  2934 non-null   int64
 1   cash_type    2934 non-null   object
 2   money        2934 non-null   float64
 3   coffee_name  2934 non-null   object
 4   Time_of_Day  2934 non-null   object
 5   Weekday      2934 non-null   object
 6   Month_name   2934 non-null   object
 7   Weekdaysort  2934 non-null   int64
 8   Monthsort    2934 non-null   int64
 9   Date         2934 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 252.1+ KB